In [1]:
__author__ = "Lisette Espin"
__copyright__ = "Copyright 2020, GESIS"
__credits__ = ["Lisette Espin-Noboa", 
               "Fariba Karimi",                
               "Claudia Wagner",
               "Markus Strohmaier"]
__license__ = "GPL"
__version__ = "1.0.1"
__maintainer__ = "Lisette Espin"
__email__ = "lisette.espin@gesis.org"
__status__ = "Development"

In [2]:
%load_ext autoreload
%reload_ext autoreload
%autoreload 2
%pylab inline

import os
from org.gesis.lib import io
from org.gesis.lib import viz
from org.gesis.lib import paper

Populating the interactive namespace from numpy and matplotlib

/ssd/lespin/virtualenv/python3.5/lib/python3.5/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['__version__']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [3]:
ROOT = '../../../results/'
DATASETS = ['aps','blogs','seventh','hate','wikipedia']

In [4]:
df_network_metadata_empirical = paper.load_network_metadata(os.path.join(ROOT,'empirical'))
df_network_metadata_empirical = df_network_metadata_empirical.query("dataset in @DATASETS").reset_index(drop=True)

In [5]:
### @TODO: get these values from .gpickle file
df_network_metadata_empirical.loc[0, 'class'] = 'orientation'
df_network_metadata_empirical.loc[1, 'class'] = 'hate'
df_network_metadata_empirical.loc[2, 'class'] = 'gender'
df_network_metadata_empirical.loc[3, 'class'] = 'gender'
df_network_metadata_empirical.loc[4, 'class'] = 'pacs'
df_network_metadata_empirical.loc[0, 'min'] = 'left-leaning'
df_network_metadata_empirical.loc[1, 'min'] = 'hateful'
df_network_metadata_empirical.loc[2, 'min'] = 'female'
df_network_metadata_empirical.loc[3, 'min'] = 'male'
df_network_metadata_empirical.loc[4, 'min'] = '05.20.-y'

df_network_metadata_empirical

,N,fm,d,plo_M,plo_m,pli_M,pli_m,EMM,EMm,EmM,Emm,hMM,hmm,_N,_d,_mindiff,dataset,class,min
0,1224,0.480392,0.012709,4.887326,3.224640,2.475353,3.192596,0.470696,0.047411,0.041051,0.440841,0.92,0.90,200,0.015,0.025081,blogs,orientation,left-leaning
1,4971,0.109435,0.000613,2.230262,1.734447,2.737829,4.317729,0.568985,0.102437,0.078859,0.249719,0.58,0.95,500,0.006,0.084970,hate,hate,hateful
2,3159,0.152263,0.001493,4.224252,6.165666,2.181928,2.012663,0.784688,0.078240,0.106850,0.030222,0.59,0.62,200,0.015,0.011728,wikipedia,gender,female
3,29,0.413793,0.463054,7.381521,3.106340,11.596819,3.328153,0.441489,0.101064,0.234043,0.223404,0.72,0.60,200,0.015,0.013204,seventh,gender,male
4,1853,0.375607,0.001060,3.222462,8.939930,2.565296,2.158121,0.649808,0.028587,0.027213,0.294393,0.94,0.96,200,0.015,0.020318,aps,pacs,05.20.-y

In [6]:
paper.all_datasets_summary_as_latex(df_network_metadata_empirical, ROOT)

../../../results/summary_datasets.tex saved!

dataset        aps         blogs        hate   seventh   wikipedia
N             1853          1224        4971        29        3159
class         pacs   orientation        hate    gender      gender
min       05.20.-y  left-leaning     hateful      male      female
fm        0.375607      0.480392    0.109435  0.413793    0.152263
d        0.0010601     0.0127092  0.00061285  0.463054  0.00149256
plo_M      3.22246       4.88733     2.23026   7.38152     4.22425
plo_m      8.93993       3.22464     1.73445   3.10634     6.16567
EMM       0.649808      0.470696    0.568985  0.441489    0.784688
EMm      0.0285871     0.0474113    0.102437  0.101064   0.0782404
EmM      0.0272128     0.0410512   0.0788587  0.234043     0.10685
Emm       0.294393      0.440841    0.249719  0.223404   0.0302216
hMM           0.94          0.92        0.58      0.72        0.59
hmm           0.96           0.9        0.95       0.6        0.62