In [1]:
%load_ext autoreload
%autoreload 2

from org.gesis.libs.network import get_network_summary
from org.gesis.libs.network import get_nodes_metadata
from org.gesis.libs.utils import printf
import networkx as nx
import pandas as pd
import os

In [2]:
DATASETS = ['aps','github','pokec','wikipedia'] #'twitter'
ROOT = '../data/'
OUTPUT = "../results-batch/"

<h2>Description</h2>

In [3]:
df_summary = None

for dataset in DATASETS:
    printf('{}...'.format(dataset))
    fn = os.path.join(ROOT, dataset, '{}_attributed_network_anon.gpickle'.format(dataset))
    G = nx.read_gpickle(fn)
    row = get_network_summary(G)
    del(G)
    
    if df_summary is None:
        df_summary = row.copy()
    else:
        df_summary = df_summary.append(row, ignore_index=True)

df_summary = df_summary.round({'EMM': 3, 'EMm': 3, 'EmM':3, 'Emm':3, 
                               'density':5, 'fm':2})
printf('done')

2020-01-30 16:43:25	aps...
2020-01-30 16:43:25	github...
2020-01-30 16:48:39	pokec...
2020-01-30 18:26:13	wikipedia...
2020-01-30 18:26:15	done

In [4]:
df_summary.round({'hMM':2, 'hmm':2,
                  'gammaM':2, 'gammam':2})

,dataset,N,cc,class,m,M,fm,kmin,E,Emm,EMM,EmM,EMm,density,gammaM,gammam,hMM,hmm,triadsratio,triadspdf
0,APS,1853,173,pacs,05.20.-y,05.30.-d,0.38,1,3638,0.294,0.650,0.027,0.029,0.00106,1.71,1.78,0.93,0.95,7.741234e-07,"[0.0, 0.2602935911206588, 0.0, 0.6942355889724..."
1,Github,296612,6965,gender,female,male,0.06,1,1723930,0.005,0.899,0.046,0.051,0.00002,1.60,1.64,0.50,0.65,2.551588e-10,"[0.00012062479001814398, 0.0006425589775966516..."
2,Pokec,1632636,1,gender,1,0,0.49,1,30622117,0.195,0.250,0.307,0.248,0.00001,1.37,1.37,0.48,0.41,2.853004e-11,"[0.043744452862550076, 0.0685444396945499, 0.0..."
3,Wikipedia,3159,66,gender,female,male,0.15,1,14890,0.030,0.785,0.107,0.078,0.00149,1.52,1.53,0.62,0.63,1.416910e-06,"[0.0009691331104327179, 0.0026166593981683385,..."

In [5]:
fn = os.path.join(OUTPUT, 'summary_datasets.csv')
df_summary.to_csv(fn)    
print('{} saved!'.format(fn))

../results-batch/summary_datasets.csv saved!

In [6]:
df_latex_summary = df_summary.pivot_table(columns='dataset', aggfunc=lambda x: ' '.join(str(v) for v in x) )
columns = ['N','cc','class','M','m','fm','E','EMM','EMm','EMm','Emm','density']
df_latex_summary = df_latex_summary.reindex(columns)
df_latex_summary

dataset       APS   Github     Pokec Wikipedia
N            1853   296612   1632636      3159
cc            173     6965         1        66
class        pacs   gender    gender    gender
M        05.30.-d     male         0      male
m        05.20.-y   female         1    female
fm           0.38     0.06      0.49      0.15
E            3638  1723930  30622117     14890
EMM          0.65    0.899      0.25     0.785
EMm         0.029    0.051     0.248     0.078
EMm         0.029    0.051     0.248     0.078
Emm         0.294    0.005     0.195      0.03
density   0.00106    2e-05     1e-05   0.00149

In [7]:
fn = os.path.join(OUTPUT, 'summary_datasets.tex')
df_latex_summary.to_latex(fn, float_format=lambda x: '%.5f' % x)
print('{} saved!'.format(fn))

../results-batch/summary_datasets.tex saved!

<h2>Node attributes</h2>

In [ ]:
for dataset in DATASETS:
    fn = os.path.join(ROOT, dataset, '{}_attributed_network_anon.gpickle'.format(dataset))
    G = nx.read_gpickle(fn)
    df_metadata = get_nodes_metadata(G)

    fn = os.path.join(ROOT, dataset, 'nodes_metadata.csv')
    df_metadata.to_csv(fn) 
    printf('{} saved!'.format(fn))
    del(G)
    del(df_metadata)